/* Erkeğe Dair Character Database
 * Cascading Style Sheets File
 */

main {
    overflow: auto;
    margin-top: 4.5rem;
    margin-bottom: 3rem;
}

.navbar-brand img {
    max-height: 48px;
    max-width: 48px;
}

/* position loading spinner */
.md-load {
    top: 50%;
    position: absolute;
    left: 50%;
}

.md-load.lion {
    margin-left: -32px;
    margin-top: -32px;
}

/* position loading lion head */
.md-load img {
    height: 64px;
    width: 64px;
    animation: fadeEffect 3s infinite;
    animation-timing-function: steps(2, end);
}
@keyframes fadeEffect {
    0%, 100% {
        filter: grayscale(0%);
    }
    50% {
        filter: grayscale(80%);
    }
}


/* message flash box and imageBoxModal messages*/
#flash {
    z-index: 1040;
    background-color: var(--bs-secondary);
    width: 400px;
    margin: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    height: 80px;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    color: var(--bs-white);
    overflow: hidden;
    display: none;
}
#flash button {
    color: var(--bs-white);
    margin-top: -0.4rem;
    margin-right: -0.5rem;
}
.ibm-msg {
    width: 80%;
    margin-left: 10%;
    background-color: var(--bs-secondary);
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    color: var(--bs-white);
    overflow: hidden;    
}
#flash.danger, .ibm-msg.danger {
    background-color: var(--bs-danger);
}
#flash.info, .ibm-msg.info {
    background-color: var(--bs-info);
}
#flash.success, .ibm-msg.success {
    background-color: var(--bs-success);
}
#flash.warning, .ibm-msg.warning {
    background-color: var(--bs-warning);
    color: var(--bs-black);
}
#flash.warning button, .ibm-msg.danger button {
    color: var(--bs-black) !important;
}

/* character image placeholder */
#character_image, #character_image_body {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

#character_image {
    background-image: url(./empty-char-picture.svg);
}

#character_image_body {
    background-image: url(./empty-char-t-pose.svg);
}

#character_image_body:hover, #character_image:hover {
    border-color: var(--bs-secondary) !important;
    border-width: 2px !important;
}

#character_image img {
    max-width: 200px;
    max-height: 200px;
}

.edit-icon {
    opacity: 0;
    cursor: pointer;
}
#character_image:hover .edit-icon, #character_image_body:hover .edit-icon {
    opacity: 1;   
}

/* large image and placeholder */
#largeImage {
    aspect-ratio: 16 / 9;
    border-style: dashed !important;
    min-height: 50vh;
    max-height: 60vh;
    overflow: hidden;
    color: #adb5bd;
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='silver' class='bi bi-person-square' viewBox='0 0 16 16'><path d='M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0'/><path d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7rem 7rem;
    margin: 1rem 2rem;
    text-align: center;
}
#largeImage img {
    max-height: inherit;
    max-width: inherit;
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

/* disable Press to Select text on Choices */
.choices__list--dropdown .choices__item--selectable[data-select-text]::after,.choices__list[aria-expanded] .choices__item--selectable[data-select-text]::after {
    content: ""
}

/* hide a given layer so it can be shown later with show() */
.md-none {
    display: none;
}