/* Erkeğe Dair Character Database
 * Cascading Style Sheets File
 */

main {
    overflow: auto;
    margin-top: 4.5rem;
    margin-bottom: 3rem;
}

.navbar-brand img {
    max-height: 48px;
    max-width: 48px;
}

/* position loading spinner */
.ed-load {
    top: 50%;
    position: absolute;
    left: 50%;
}

/* message flash box */
#flash {
    z-index: 1040;
    background-color: var(--bs-secondary);
    width: 300px;
    margin: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    height: 56px;
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: var(--bs-white);
    overflow: hidden;
    display: none;
}
#flash button {
    color: var(--bs-white);
}
#flash.success {
    background-color: var(--bs-success);
}
#flash.danger {
    background-color: var(--bs-danger);
}
#flash.warning {
    background-color: var(--bs-warning);
    color: var(--bs-black);
}
#flash.warning button {
    color: var(--bs-black) !important;
}
#flash.info {
    background-color: var(--bs-info);
}


/* character image placeholder */
#character_image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-image: url(./empty-char-picture.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

#character_image_body {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-image: url(./empty-char-t-pose.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#character_image_body:hover, #character_image:hover {
    border-color: var(--bs-secondary) !important;
    border-width: 2px !important;
}

#character_image img {
    max-width: 200px;
    max-height: 200px;
}

.edit-icon {
    opacity: 0;
    cursor: pointer;
}
#character_image:hover .edit-icon, #character_image_body:hover .edit-icon {
    opacity: 1;
}

/* hide a given layer so it can be shown later with show() */
.ed-none {
    display: none;
}