{# template for episode list #}
<!-- Episode list -->
<div id="episode_list" class="md-none">
    <h1>{{ _('Episode List') }}</h1>
    <p id="charlist_no_chars" class="md-none">{{ _('No episodes found in database. Please add one using the button above.') }}</p>
    <div class="accordion" id="ep_list_accordion">
    </div>
</div>


