{# template for application main page #}
{% extends 'base.html.jinja' %}
{% block title %}{{ _('Men of Courage') }} {{ _('Character Database') }}{% endblock %}

{%- block nav -%}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <span class="navbar-brand">
                    <img src="./assets/ed-logo.svg" alt="{{ _('Men of Courage') }} {{ _('Official Logo') }}"> 
                    <span id="page_title">{{ _('Men of Courage') }} {{ _('Character Database') }}</span>
                </span>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a href="#/" id="nav_characters" class="nav-link active"><i class="bi-chevron-right"></i>Characters</a></li>
                    <li class="nav-item"><a href="#/episodes" id="nav_episodes" class="nav-link"><i class="bi-chevron-right"></i>Episodes</a></li>
                    <li class="nav-item"><a href="#/relationships" id="nav_relations" class="nav-link"><i class="bi-chevron-right"></i>Relationships</a></li>
                </ul>
                
            </div>
        </nav>
{% endblock %}

{%- block content -%}
            <!-- Add character button -->
            <div class="md-add-button float-end md-none" id="add_char_btn"><a href="#/character/add">
                <a class="btn btn-outline-dark" href="#/character/add"><i class="bi-plus"></i> {{ _('Add Character') }}</a>
            </div>
            <!-- Add episode button -->
            <div class="md-add-button float-end md-none" id="add_ep_btn">
                <button class="btn btn-outline-dark" type="button"><i class="bi-plus"></i> {{ _('Add Episode') }}</button>
            </div>
            <!-- Add relationship button -->
            <div class="md-add-button float-end md-none" id="add_rel_btn">
                <button class="btn btn-outline-dark" type="button"><i class="bi-plus"></i> {{ _('Add Relationship') }}</button>
            </div>

            <!-- develop modal button -->
            <button class="btn btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#addEditRelationshipModal">Open Dev Modal</button>

    {% include 'charlist.html.jinja' %}
    {% include 'charform.html.jinja' %}
    {% include 'eplist.html.jinja' %}
    {% include 'relationlist.html.jinja' %}
{% endblock %}

{%- block modals -%}
    {% include 'modal_deleteItem.html.jinja' %}
    {% include 'modal_addEditEpisode.html.jinja' %}
    {% include 'modal_appendEpisode.html.jinja' %}
    {% include 'modal_addResidence.html.jinja' %}
    {% include 'modal_addActor.html.jinja' %}
    {% include 'modal_majorError.html.jinja' %}
    {% include 'modal_imageBox.html.jinja' %}
    {% include 'modal_navFromUnsaved.html.jinja' %}
    {% include 'modal_appendRelationship.html.jinja' %}
    {% include 'modal_addEditRelationship.html.jinja' %}
{% endblock %}

{%- block custom_js -%}
        <script src="{{ url_for('static', filename='ui.navigation.js') }}"></script>
        <script src="{{ url_for('static', filename='ui.js') }}"></script>
{% endblock %}