{# Delete item modal template #}
<!-- Delete item modal -->
<div class="modal fade" id="deleteItemModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header h4">
                {{ _('Delete') }} <span id="deleteItemModal_title_item"></span>
            </div>
            <div class="modal-body" id="deleteItemModal_body">
                <input type="hidden" id="item_to_delete"> {# takes [item]/[id] (e.g. character/2)#}
                <p id="deleteItemModal_msg" class="text-center"></p>
                <p id="deleteItemModal_no_undo" class="text-center"><strong>{{ _('This action cannot be undone!') }}</strong></p>
                <p id="deleteItemModal_sure" class="text-center">{{ _('Are you sure you want to continue?') }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deleteItemModal_yes">{{ _('Yes') }}</button>
                <button type="button" class="btn btn-outline-dark" id="deleteItemModal_no" data-bs-dismiss="modal">{{ _('No') }}</button>
            </div>
        </div>
    </div>
</div>