{# modal to add a new actor to DB #}
<div class="modal fade" id="addActorModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header h4">
                {{ _('Add Actor') }}
            </div>
            <div class="modal-body" id="addActorModal_body">
                <p>{{ _('Enter the full name of a voice or character actor for the Men of Courage character.') }} </p>
                <div class="row">
                    <label class="form-label col-3 text-end pt-2" for="add_actor_name">{{ _('Actor Name') }}:</label>
                    <div class="col-9">
                        <input type="text" class="form-control" name="add_actor_name" id="add_actor_name">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal"><i class="bi-ban"></i> {{ _('Cancel') }}</button>
                <button type="button" class="btn btn-success" id="addActorModal_save"><i class="bi-check"></i> {{ _('Save') }}</button>
            </div>
        </div>
    </div>
</div>