{# image box modal #}
<div class="modal fade" id="imageBoxModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <span class="h4">{{ _('Manage Image') }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="imageBoxModal_body">
                <h5 id="imageBoxModal_body_headshot" class="ibm-hide">{{ _('Head Shot') }}</h5>
                <h5 id="imageBoxModal_body_bodyshot" class="ibm-hide">{{ _('Full Body Shot') }}</h5>
                <div id="imageBoxModal_body_save_success" class="ibm-msg text-center success ibm-hide">{{ _('Image was successfully loaded. Don’t forget to save the character when you close this window.') }}</div>
                <div id="imageBoxModal_body_del_success" class="ibm-msg text-center warning ibm-hide">{{ _('Image was successfully removed. Don’t forget to save the character when you close this window.') }}</div>
                <div class="d-flex justify-content-center">
                    <div id="largeImage" class="border border-3 bg-light"></div>
                </div>
                <div class="text-center mb-3 ibm-hide" id="imageBoxModal_delete_img">
                    <button class="btn btn-outline-danger" id="imgBoxModal_del"><i class="bi bi-file-x"></i> {{ _('Delete Image') }}</button>
                </div>
                <div class="mb-3 ibm-hide" id="imageBoxModal_upload_img">
                    <form id="imageBoxModal_form">
                        <div class="row justify-content-md-center">
                            <div class="col-2 text-end pt-2 form-label">{{ _('Select Image:') }}</div>
                            <div class="col-4 text-center mb-3 me-3">
                                <input type="file" class="form-control" id="imgBoxModal_img" accept=".svg, .png, .jpeg, .jpg">
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-dark" id="imgBoxModal_load"><i class="bi bi-file-arrow-up"></i> {{ _('Load') }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>