[Unit]
Description=Gunicorn instance to serve the Men of Courage Character Database
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/moc-character-db
Environment="PATH=/var/www/moc-character-db/venv/bin"
ExecStart="/var/www/moc-character-db/venv/bin/gunicorn -w 4 -b 0.0.0.0:13153 'app.app:create_app()'"

[Install]
WantedBy=multi-user.target
