{% extends 'base.html.jinja' %}

{% block title %}Men of Courage Character Database Setup{% endblock %}

{% block nav %}


{% endblock%}

{% block content %}
<p>This is a new setup version!</p>
{% endblock %}